.container {
  margin-top: 2rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: 560px) {
    flex-direction: row;
  }
}

.orderby {
  .select {
    height: 40px;
    background-color: transparent;
  }
}

.search {
  input,
  button {
    flex: 1;
    height: 40px;
    border: 1px solid #0004;
    outline: none;
    padding: 0 10px;
    margin: 0 3px;
    background: transparent;
    cursor: pointer;
  }
}
