.container {
  max-width: 600px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}

.heading {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.accordion_item {
  border-top: 1px solid var(--bgDarkClr);

  .button {
    font-size: 16px;
    background-color: var(--mainClr);
    color: var(--bgClr);
    text-align: left;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border: none;
  }

  &.active {
    .button {
      background-color: var(--mainAltClr);
    }
  }
}

.control {
  font-size: 20px;
}

.answer_wrapper {
  height: 0;
  overflow: hidden;

  .answer {
    background-color: var(--bgLightClr);
    padding: 20px;
  }

  &.open {
    height: 100px;
  }
}
